@using RajaTestA.Models.ViewModels
@model IEnumerable<CertificateVM>
@{
    ViewData["Title"] = "فهرست مدارک";
}
<h4 class="bg-secondary text-white container p-2">@ViewData["Title"]</h4>

<p>
    <a asp-action="Create" class="btn btn-success mt-3">مدرک جدید</a>
</p>

<table class=table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(e=>e.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(e=>item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">ویرایش</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">جزئیات</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a> 
                </td>
            </tr>
        }
    </tbody>

</table>
